body {
  cursor: none;
}

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: var(--cor-0);
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
  z-index: 999;
}

.hover-this {
  transition: all 0.3s ease;
}

.hover-this:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(8);
}

@media (max-width: 600px) {
  .cursor {
    display: none;
    pointer-events: unset;
  }
  body {
    cursor: default;
  }
}
