.detail-h {
  width: 100vw;
  height: 2px;
  background-color: var(--cor-4);
  position: absolute;
  top: 60px;
  right: 0px;
}

.detail-v {
  width: 2px;
  height: 700px;
  background-color: var(--cor-4);
  position: absolute;
  top: 60px;
  left: calc(33.33% - 5px);
  z-index: -1;
}

.detail-v-2 {
  width: 2px;
  height: 700px;
  background-color: var(--cor-4);
  position: absolute;
  top: 60px;
  right: calc(33.33vw - 5px);
  z-index: -1;
}

.detail-h-projects {
  width: 100vw;
  height: 2px;
  background-color: var(--cor-4);
  position: absolute;
  top: 82px;
  right: 0px;
  z-index: 1;
}

.detail-h-about {
  width: 100vw;
  height: 2px;
  background-color: var(--cor-1);
  position: absolute;
  top: 82px;
  right: 0px;
  z-index: 99;
}
